<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor='let i of headers'>{{ i }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let obj of tab'>
      <td><button class='btn btn-warning' (click)='goToEdit(obj.id)'>Editer</button></td>
      <td>{{ obj.typePresta | uppercase}}</td>
      <td>{{ obj.client}}</td>
      <td>{{ obj.nbJours}}</td>
      <td>{{ obj.tjmHt | currency}}</td>
      <td>{{ obj.tjmHt | total :obj.nbJours | currency}}</td>
      <td>{{ obj.tjmHt | total :obj.nbJours :obj.tva | currency}}</td>
      <td>{{ obj.state }}</td>

    </tr>

  </tbody>


  <!-- remplacé par un composant btn -->
  <!-- ce btn doit nous renvoyer vers /add -->
  <app-btn
  label='+'
  styleBtn='btn btn-success'
  routeInfo='/add'></app-btn>
</table>

